@page
@model SOS_Resources.Pages.ResourceRequests.IndexModel

@{
    ViewData["Title"] = "Resource Requests";
}

<h1>Resource Requests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceRequest[0].RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceRequest[0].Requester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceRequest[0].Resources)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResourceRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requester.SOS_User.DisplayFullName)
            </td>
            <td>
                @{
                        foreach (var resource in item.Resources)
                        {
                            @resource.Name <br />
                        }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
